
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/playwright/data/
playwright/screenshots/
playwright/videos/
playwright/traces/
/data/
